/* ---------------------------- FONTS */

@import url(https://fonts.googleapis.com/css?family=Fredoka);

/* ---------------------------- GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: sans-serif;
  background-color: #fafafa;
}

label {
  display: block;
}

/* ---------------------------- NAV BAR */

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgb(57, 97, 231);
  color: white;
  position: relative;
}

.header::after {
  position: absolute;
  bottom: -50px;
  left: 0px;
  width: 100%;
  content: ' ';
  background: radial-gradient(
    circle at 50% 0%,
    #3961e7 25%,
    #fafafa 26%,
    #fafafa
  );
  background-size: 30px 120px;
  height: 50px;
  background-repeat: repeat-x;
}

.header h1 {
  margin: 20px 0px 15px 0px;
  font-family: 'Fredoka', sans-serif;
}

.header h1 a {
  color: white;
  text-decoration: none;
}

.header h2 {
  margin: 0px;
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 2px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 55px 70px 30px 70px;
  background-color: #fafafa;
}

.links a {
  margin: 0px 10px 0px 10px;
}

.links a:link,
.links a:active,
.links a:visited {
  position: relative;
  display: inline-block;
  font-family: 'Fredoka', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(57, 97, 231);
  text-decoration: none;
  top: 0px;
  transition: top ease 0.5s;
}

.links a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  top: -5px;
}

.nav-invisible {
  width: 40px;
  height: 40px;
}

.cart-icon {
  width: 40px;
  height: 40px;
  transition: transform 0.5s ease-in-out;
}

.cart-icon:hover {
  transform: rotate(360deg);
}

/* offset-x | offset-y | blur-radius | spread-radius | color */
.navbar-hr {
  margin: 0;
  height: 15px;
  border: 0;
  box-shadow: inset 1px 5px 5px 0px rgba(236, 236, 236, 0.5);
}

/* ---------------------------- HOMEPAGE */

.introductions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  text-align: center;
}

.introductions h1 {
  font-family: 'Fredoka', sans-serif;
}

.intro-para {
  width: 50%;
  position: relative;
  margin-top: 30px;
}

.intro-para p {
  width: 100%;
  position: relative;
  word-wrap: break-word;
  line-height: 28px;
}

/* ---------------------------- ALL PIES */

.all-pies-view {
  margin-top: 30px;
}

.all-pies-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 50px;
}

.single-pie-item {
  display: flex;
  position: relative;
  text-align: center;
  flex-direction: column;
  align-content: flex-start;
  word-wrap: break-word;
  width: 200px;
  height: 280px;
  padding-top: 20px;
  margin: 20px;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  top: 0px;
  transition: top ease 0.5s;
}

.single-pie-item:hover {
  top: -10px;
}

.single-pie-item a:link {
  margin: 0;
  padding: 0;
}

.single-pie-item img {
  width: 150px;
  height: 130px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.single-pie-item p {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.pie-name {
  font-family: 'Fredoka', sans-serif;
  margin: 10px 18px 0px 18px;
}

.pie-price {
  color: #3961e7;
  margin: 10px 15px 20px 15px;
  margin-top: auto;
}

.single-pie-item button {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 15px;
  right: 15px;
  font-size: 12px;
  color: white;
  border: none;
  border-radius: 20px;
  background-color: #3961e7;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* ---------------------------- ALL PIES MENU */

.all-pies-menu {
  display: flex;
  justify-content: space-between;
  margin: 0px 70px 50px 70px;
}

.all-pies-menu button {
  padding: 0px 13px 0px 13px;
  height: 35px;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  border: none;
  border-radius: 2px;
  background-color: #3961e7;
  cursor: pointer;
}

.filter-search {
  display: flex;
  justify-content: flex-start;
}

.filter select {
  width: 170px;
  height: 35px;
  padding: 0px 5px 0px 5px;
  color: rgb(57, 97, 231);
  border: none;
  border-radius: 2px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  outline-width: 0;
  cursor: pointer;
}

.filter-search input {
  width: 250px;
  height: 35px;
  margin: 0px 0px 0px 20px;
  padding: 15px;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  outline-width: 0;
}

/* ---------------------------- SINGLE PIE */

.single-pie {
  display: flex;
  flex-direction: column;
}

.single-pie-links {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.single-pie-links .back-button,
.single-pie-links .edit-button {
  padding: 0px 13px 0px 13px;
  margin: 0px 20px 0px 20px;
  height: 35px;
  font-size: 14px;
  letter-spacing: 1px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.single-pie-links .back-button {
  color: #3961e7;
  background-color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.single-pie-links .edit-button {
  color: white;
  background-color: #3961e7;
}

.single-pie-view-container {
  display: flex;
  flex-wrap: no-wrap;
  align-content: center;
  justify-content: center;
  margin-top: 3%;
  padding: 0px 50px 0px 50px;
}

.img-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 30px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.img-box h4 {
  font-family: 'Fredoka', sans-serif;
  margin: 40px 0px 0px 0px;
}

.single-view-img {
  width: 220px;
  height: 200px;
  border-radius: 2px;
}

.single-view-text-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 0px 0px 0px 50px;
}

.single-view-text-container h4 {
  margin: 20px 0px 0px 0px;
  color: grey;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}

.name-price {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.name-price h2:first-child {
  font-family: 'Fredoka', sans-serif;
  font-size: 30px;
  width: 320px;
}

.name-price h2:nth-child(2) {
  color: #3961e7;
}

.single-view-text-container p {
  flex-grow: 1;
  margin: 40px 0px 40px 0px;
  line-height: 24px;
}

.quantity-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.quantity {
  display: flex;
}

.quantity h3 {
  margin: 0;
  padding: 0px 20px 0px 20px;
  align-self: center;
}

.increment,
.decrement {
  font-size: 20px;
  width: 40px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 2px;
  background-color: #3961e7;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.add-to-cart {
  flex-grow: 1;
  margin-left: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  border: none;
  border-radius: 2px;
  background-color: #3961e7;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.increment:hover,
.decrement:hover {
  background-color: #77a9f3;
}

.add-to-cart:hover {
  background-color: #77a9f3;
}

/* ---------------------------- EDIT / ADD FORM */

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 50px 0px 50px;
}

.title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  word-wrap: break-word;
  width: 200px;
  height: 300px;
  padding-top: 20px;
  margin: 20px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
  border-radius: 3px;
}

.title img {
  width: 150px;
  height: 130px;
}

.title p {
  margin: 15px 18px 0px 18px;
  letter-spacing: 2px;
  font-weight: bolder;
  color: #8a8a8a;
}

.title h2 {
  font-family: 'Fredoka', sans-serif;
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0px 18px 0px 18px;
}

.form-box input,
.form-box select {
  width: 100%;
  outline-width: 0;
  height: 35px;
  color: #3961e7;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.form-box input::placeholder {
  color: #3961e7;
}

.form-box label {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bolder;
  color: #4b4b4b;
  margin: 0px 0px 5px 0px;
}

.field-box {
  display: flex;
  width: 800px;
  margin-top: 7%;
}

.left-field,
.right-field {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px 0px 10px 0px;
  flex: 1 1;
  justify-content: space-between;
}

.price-qty {
  display: flex;
  justify-content: space-between;
}

.price-qty label {
  margin: 0px 0px 14px 0px;
}

.price {
  margin-right: 20px;
  width: 50%;
}

.qty {
  width: 50%;
}

.edit-buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.form-box .back-button,
.form-box .edit-submit {
  padding: 0px 13px 0px 13px;
  height: 35px;
  font-size: 14px;
  letter-spacing: 1px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.form-box .back-button {
  color: #3961e7;
  background-color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.form-box .edit-submit {
  color: white;
  background-color: #3961e7;
}

/* ---------------------------- LOGGED IN USER HOME */

.logged-in-userhome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 70px 0px 70px;
  margin-top: 50px;
}

.logged-in-header {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  text-align: center;
}

.logged-in-header h1 {
  font-family: 'Fredoka', sans-serif;
}

.logged-in-header h3 {
  text-transform: uppercase;
  line-height: 30px;
  margin-top: 10px;
  letter-spacing: 1px;
  color: #3961e7;
}

.past-orders {
  width: 500px;
  height: 100%;
  margin: 50px;
  padding: 30px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.order-table {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 19px 20px 19px;
}

.past-orders h2 {
  font-family: 'Fredoka', sans-serif;
}

.order-table h4 {
  color: grey;
  letter-spacing: 1px;
}

.order-table h4:first-child {
  text-align: left;
  width: 79px;
}

.order-table h4:nth-child(3) {
  text-align: center;
  width: 79px;
}

.orders {
  display: flex;
  justify-content: space-between;
  padding: 30px 19px 30px 19px;
  text-align: center;
}

.orders p:first-child,
.orders p:nth-child(3) {
  width: 79px;
}

.no-orders {
  padding: 30px 20px 30px 20px;
}

.no-orders a {
  text-decoration: none;
  color: #3961e7;
}

/* ---------------------------- LOG IN PAGE */

.info-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-input h1 {
  font-family: "Fredoka", sans-serif;
  text-align: center;
  margin: 30px;
}

.info-input form {
  width: 300px;
}

.info-input input {
  width: 100%;
  outline-width: 0;
  height: 35px;
  color: #3961e7;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: 10px 0px 30px 0px;
  padding: 0px 10px 0px 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.info-input input::placeholder {
  color: #3961e7;
}

.info-input label {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bolder;
  color: #4b4b4b;
}

.info-input button {
  margin: 0 auto;
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  height: 35px;
  padding: 0px 13px 0px 13px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: white;
  background-color: #3961e7;
}

.login-signup {
  text-decoration: none;
  margin: 30px;
  color: #3961e7;
}

.error {
  color: red;
  text-align: center;
  margin: 20px 20px 0px 20px;
}